@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;

400&display=swap);.header {
  height: 100px;
  width: 100%;
  position: fixed;
  background: #232b33;
  left: 0;
  top: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  z-index: 10000;
}

.header a {
  text-decoration: none;
  background: #3674b3;
  padding: 10px;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
}

